Django==4.0.10
Pillow==9.4.0
# Si usas django-crispy-forms, añádelo:
# django-crispy-forms==1.14.0
# crispy-bootstrap5==0.7
# Si usas django-debug-toolbar, añádelo:
# django-debug-toolbar==3.8.1
asgiref==3.7.2
sqlparse==0.4.4
tzdata==2023.4
